body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.bor{
    background-image: url("https://teams.microsoft.com/l/message/48:notes/1764634108917?context=%7B%22contextType%22%3A%22chat%22%2C%22oid%22%3A%228%3Aorgid%3A0f017b95-baed-4c0f-86c8-d7426a003cb7%22%7D");
}

p {
    font-size: 24px;
    font-weight: bold;
}

p1{
    text-align: right;
    font-size: 24px;
    font-weight: bold;

}


h2{
    font-size: 24px;
    font-weight: bold;


}
@media (max-width: 768px) {
    p{
        font-size: 60 px;
    }
    h2{
        font-size: 70 px;
    }
    p1{
        font-size: 70 px;
    }
    button {
    padding: 50px 40px;
    }
}

